:root {
  --primary-color: #0f1e36;
  --accent-color: #ff4d4d;
  --text-color: #c7d4e3;
  --border-color: #324e67;
  --button-hover: #ff6666;
  --background-color-light: #e5f3ff;
  --background-color-dark: #0a1626;
  --text-color-light: #c7d4e3;
  --text-color-dark: #c7d4e3;
  --button-background-light: #2b3d4f;
  --button-background-dark: #1a2838;
  --section-background-light: #d0e7f9;
  --section-background-dark: #172332;
}
