.header, .footer {
  background: url('/src/assets/bg.jpg') no-repeat;
  background-size: cover;
}

.main {
  margin-bottom: auto;
  padding: 25px 8px;
}

header, footer {
  color: #ffffff;
}

.loading {
  width: 100px;
  height: 100px;
  margin: 0 auto;

  background: url('/src/assets/ripples.svg') no-repeat center;
}

.content {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.left-section {
  flex-shrink: 0;
  width: 65%;

  @media (max-width: 1110px) {
    width: 50%;
  }
}

.right-section {
  width: 32%;

  color: #ffffff;

background-color: #b3a68e;

  @media (max-width: 1110px) {
    width: 50%;
  }
}